<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property> <!--Klass berem iz https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-usagenotes-connect-drivermanager.html -->
        <property name="connection.url">jdbc:mysql://localhost:3306/addressbook</property> <!--Smotri DbConnectionTest -->
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property> <!--ukazat' MySql ili MySql5Dialect -->

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property> <!--4tobi uvidet sql zaprosi na konsoli ostavlqem true. Potom dlq umen'weniq musora ih lu4we otklu4it'-->

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property> <!--OBS! menqem create na validate 4tobi Hibernate ni4ego ne sozdaval sam, a tol'äko proverql pravil'nost' privqzki/mappings -->

        <!-- Names the annotated entity class -->
        <mapping class="ru.stqa.ol.addressbook.model.GroupData"/> <!--l7_m2 Delaem privqzku dlq GroupData 4erez model -->
        <mapping class="ru.stqa.ol.addressbook.model.ContactData"/><!--l7_m3 Delaem privqzku dlq ContactData 4erez model -->
    </session-factory>

</hibernate-configuration>